<web-app>
	<display-name>Created Web Application for Chef</display-name>
	<servlet>
		<servlet-name>AdditionServlet</servlet-name>
		<servlet-class>com.ibm.whc.TomcatWebAppForChefNode.AdditionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdditionServlet</servlet-name>
		<url-pattern>/AdditionServlet</url-pattern>
	</servlet-mapping>
</web-app>
